h1, h2 {
  font-family: "Sawarabi Mincho";
}

span {
  font-family: 'Bitter', serif;
}

a {
  color: black;
}

header {
  width: 100vw;
  z-index: 100;
  position: fixed;
  display: flex;
  background: white;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.49);
  height: 80px;
}

header .logo {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

header .logo img {
  height: 50px;
  width: auto;
}

header .menu ul {
  height: 100%;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .menu li {
  font-size: 1em;
  position: relative;
}

header .menu li a {
  color: black;
}

header .menu li span {
  bottom: 34%;
  position: absolute;
  z-index: -1;
  content: "";
  height: 5px;
  width: 0px;
  display: block;
  transition: all 0.4s;
}

header .menu li:hover span {
  padding: 0 10px;
  width: 100px;
}

main {
  width: 100vw;
}

main .first {
  height: 100vh;
  width: 100vw;
  background-image: url("../material/firstimage.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .first h1 {
  color: white;
  font-size: 44px;
  margin: 30px;
}

main .first_introductuin {
  width: 800px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  padding: 20px;
}

main .first_introductuin h2 {
  font-size: 35px;
  text-align: center;
  line-height: 1.5em;
}

main .first_introductuin p {
  text-align: center;
  line-height: 2em;
}

main .maingraph {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

main .content_thumbnail {
  height: 370px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

main .content_thumbnail_title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url(../material/tape.png);
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .content_thumbnail_title img {
  width: auto;
  height: 60px;
}

main .content_section {
  margin: 50px;
}

main .content_section_image {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

main .content_section_image img {
  height: 250px;
  width: auto;
}

main .content_section p {
  padding: 7px;
  text-align: center;
}

main .content_buybutton {
  width: 300px;
  height: 40px;
  background-color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;
}

main .content_buybutton p {
  color: white;
}
