@import "_variable.scss";
@import "_animation.scss";
h1,h2{
  font-family: "Sawarabi Mincho";
}
span{
  font-family: 'Bitter', serif;
}
a{
  color: black;
}
header{
  width: 100vw;
  z-index: 100;
  position: fixed;
  display: flex;
  background: white;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(#999999, 0.49);
  height: 80px;
  .logo{
    display: flex;
    align-items: center;
    margin: 0 40px;
    img{
      height: 50px;
      width: auto;
    }

  }
  .menu{
    ul{
      height: 100%;
      width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    li{
      font-size: 1em;
      position: relative;
      a{
        color: black
      }
      span{
        bottom: 34%;
        position: absolute;
        z-index: -1;
        content: "";
        height: 5px;
        width: 0px;
        display: block;
        transition: all 0.4s ;
      }
      &:hover{
        span{
          padding: 0 10px;
          width: 100px;
        }
      }
    }
  }
}
main{
  .first{
    height: 100vh;
    width: 100vw;
    background-image: url("../material/firstimage.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      color:white;
      font-size: 44px;
      margin: 30px;
    }
    &_introductuin{
      width: 800px;
      background: rgba(#FFFFFF,0.8);
      box-sizing: border-box;
      padding: 20px;
      h2{
        font-size: 35px;
        text-align: center;
        line-height: 1.5em;
      }
      p{
        text-align: center;
        line-height: 2em;

      }
    }
  }
  width: 100vw;
  .maingraph{
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .content{
    &_thumbnail{
      height: 370px;
      width: 100%;
      overflow: hidden;
      position: relative;
      top: 0;
      left: 0;
      &_title{
        position: absolute;
        top: 0;bottom: 0;left: 100px;
        margin: auto;
        background-repeat: no-repeat;
        background-image: url(../material/tape.png);
        height: 100px;
        width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img{
          width: auto;
          height: 60px;
        }
      }

    }
    &_section{

      margin:50px;
      &_image{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        img{
          height: 250px;
          width: auto;
        }
      }
      p{
        padding: 7px;
        text-align: center;
      }
    }
    &_buybutton{
      width: 300px;
      height: 40px;
      background-color: rgb(61, 61, 61);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 50px;

      p{
        color: white;
      }
    }
  }
}
