<!DOCTYPE html>
html(lang="en")
  include includes/header.pug
  body
    header
      div.logo.header
        | mtArtTape
      nav.menu.header
        ul
          li
            a(href="") mt art tapeとは
            span
          li
            a(href="") ラインナップ
            span
          li
            a(href="") キャンペーン
            span
    main
      div#contents
        content-com
        content-com
        content-com

      include inclides/component.pug

  include includes/footer.pug
  

    
