<!DOCTYPE html>
html(lang="en")
  include includes/header.pug
  body
    header
      div.logo.header
        img(src="material/logo.svg")
      nav.menu.header
        ul
          li
            a(href="") mt art tapeとは
            span
          li
            a(href="") ラインナップ
            span
          li
            a(href="") キャンペーン
            span
    main
      div#firstview.first
        h1 <span>MtArtTape</span>とは
        div.first_introductuin
          h2 描き方は自由自在。誰でもアーティスト。日々の暮らしにアートを楽しむひとときを。
          p mtとアートの運命的な出会いから、<br>自分らしく表現するための新しいマスキングテープが誕生しました。<br>３つの手書きの美しいテクスチャー、和紙の重なりから生まれるグラデーション。<br>あなたなら何を描きますか？
      div#contents
        content-com
        content-com
        content-com

      include includes/component.pug

  include includes/footer.pug
